html, body
{
    height: 100%;
}


#name {
    color: #0cc1ce;
    font-family: Arial, Helvetica, serif;
}

#tech {
    float: right;
    color: cadetblue;
    

}

.nav {
    color:blue;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 200px;

    
}

body {
    background-color: #f1eeeea6;

}

img {
    height: 200px;
    width: 700px;
}

.heading {
    color: #6884c4;
    font-family: cursive;
    font-style: oblique;
}

#contact {
    color: blue;
    display:flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 130px;
}


@media screen and (min-width: 768px) {
    /* for tablets responsive design */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }

}

/* responsive design for larger screens */
@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }

}