/*Welcome to my portfolio! I hope you like it! :) */



html, body
{
    height: 100%;
}


#name {
    color: #21b2bdc9;
    font-family: Arial, Helvetica, serif;
    text-shadow: 1px 1px rgba(162, 208, 238, 0.692);
}

#tech {
    float: right;
    color: cadetblue;
    

}

.nav {
    color:blue;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 200px;

    
}


.background {
    

}


 #pro {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(37, 34, 34, 0.795);
    text-shadow: 1px 1px rgba(95, 158, 160, 0.274);
}

body {
    background-color: #f1eeeea6;

}

#autumn {
    height: 200px;
    min-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

#profile-pic {
    border-radius: 50%;

}

#work {
    margin: auto;
    width: 50%;
    color:rgba(87, 87, 180, 0.404);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;

}

.picture-font {
    color:rgba(87, 87, 180, 0.404);
    font-family: Arial, Helvetica, sans-serif;

}


#horiseon {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#horiseon:hover {
    transform: scale(1.25);
}

/* I used the example here for reference. Credit to this website
 https://success.appen.com/hc/en-us/articles/202703155-CSS-Guide-to-Enlarge-Images-on-Hover
*/


.row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
  

  .column {
    flex: 50%;
    padding: 5px;
    
  }

 #project-2 {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    

}

#project-2:hover {
    transform: scale(1.25);
}

#project-3 {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 

}

#project-3:hover {
    transform: scale(1.25);
}


#project-4 {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 

}

#project-4:hover {
    transform: scale(1.25);
}


#project-5 {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 

}

#project-5:hover {
    transform: scale(1.25);
}



.heading {
    color: #6884c4ce;
    font-family: cursive;
    font-style: 
}

#about-me {

    position: block;
    color: rgba(16, 16, 61, 0.849);
    font-family: "Arial", san-serif;
    font-weight: 100;
}

#contact-me {
    color: rgba(28, 35, 129, 0.623);
    display:flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-shadow: 1px 1px #01131411;

}



#fyi {
    
    text-align: center;
    
    
}

/*Mobile First Responsive Design*/
@media screen and (min-width: 768px) {
    
}

@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 600px) {
    .row {
        display:inline-block;


    }


    #contact-me {
        display: inline-block;
        color: rgba(28, 35, 129, 0.623);
        align-items: flex-end;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        margin-left: 130px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        text-shadow: 1px 1px #01131411;



    }
}

@media screen and (min-width: 768px) {
    /* for tablets responsive design */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }

}

/* responsive design for larger screens */
@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }

}

/* Responsive design templates used from Module 2 Mini-project */