html, body
{
    height: 100%;
}


#name {
    color: #21b2bdc9;
    font-family: Arial, Helvetica, serif;
    text-shadow: 1px 1px rgba(162, 208, 238, 0.692);
}

#tech {
    float: right;
    color: cadetblue;
    

}

.nav {
    color:blue;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 200px;

    
}





 #pro {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(37, 34, 34, 0.795);
    text-shadow: 1px 1px rgba(95, 158, 160, 0.274);
}

body {
    background-color: #f1eeeea6;

}

#autumn {
    height: 200px;
    min-width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

#profile-pic {
    border-radius: 50%;

}



#horiseon {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#project-2 {
    height: 200px;
    width: 200px;
    border-radius: 50px;

}


#project-3 {
    height: 200px;
    width: 200px;
    border-radius: 50px;

}

#project-4 {
    height: 200px;
    width: 200px;
    border-radius: 50px;

}

.heading {
    color: #6884c4ce;
    font-family: cursive;
    font-style: oblique;
}

#about-me {

    position: block;
}

#contact-me {
    color: rgba(28, 35, 129, 0.623);
    display:flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-shadow: 1px 1px #01131411;

}

#fyi {
    
    text-align: center;
    
}

/*Mobile First Responsive Design*/
@media screen and (min-width: 768px) {
    
}




@media screen and (min-width: 768px) {
    /* for tablets responsive design */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }

}

/* responsive design for larger screens */
@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }

}

/* Responsive design templates used from Module 2 Mini-project */